<html>
	<head th:replace="~{base :: head}"></head>
	<body>
    	<div th:replace="~{base :: logo}"></div>
		<div class="container">
			<div th:replace="~{base :: titulo('Login')}"></div>
						
			<div class="card mb-3">
				<form th:action="@{/login}" method="post">
					<div>
						<div class="form-group">
							<label for="usuario">Usuário</label>
							<input type="text" name="username" placeholder="Usuário"/>
						</div>
					</div>
					<div>
						<div class="form-group">
							<label for="password">Senha</label>
						<input type="password" name="password" placeholder="Senha"/>
						</div>
					</div>
					<input type="submit" value="Log in" />
				</form>
			</div>
		</div>
	</body>
</html>